body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #5c80a4; 
    color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.stopwatch-container {
   
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    
    padding: 2rem;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px; 
}

h1 {
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
    color: #000000;
    font-weight: 500;
}

.stopwatch-display {
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-weight: 300;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-bottom: 2rem;
}

.buttons button {
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px; 
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    flex: 1;
}

.start-btn {
    background-color: #4CAF50; 
}

.start-btn.paused {
    background-color: #FFC107; 
}

.lap-btn {
    background-color: #2196F3; 
}

.reset-btn {
    background-color: #F44336; 
}

.buttons button:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
    box-shadow: none;
}

.buttons button:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.laps-container {
    margin-top: 1.5rem;
    max-height: 200px;
    overflow-y: auto;
    background-color: transparent; 
    padding: 0;
}

.laps-container::-webkit-scrollbar {
    display: none;
}
.laps-container {
    -ms-overflow-style:none;  
    scrollbar-width: none; 
}
.laps-container h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #000000;
    font-weight: 500;
}

#laps-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#laps-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ffffff; 
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #050303;
}

#laps-list li:last-child {
    border-bottom: none;
}

#laps-list li span:first-child {
    font-weight: bold;
}

